<!-- views/pages/homepage.js -->
<div id="headerHW">
    <h1>Ali Villegas A01337596</h1>
    <p>Dar clic en botón para ir a productos</p>
</div>

<button id="buttonToProducts" onclick=" window.location = '/products/' " >Productos</button>
